body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0;
}

.name {
  color: lightskyblue;
}

.top-icons {
  max-width: 2%;
  height: auto;
}

.photoMe {
  max-width: 45%;
  height: auto;
  border-radius: 25px;
  border: 20px solid rgb(54, 94, 202, 0.4);
}

.greetingText {
  font-size: 30px;
}

section {
  height: 100vh;
  padding: 0 clamp(4rem, 12vw, 20rem);
  display: grid;
  place-content: center;

  &:nth-of-type(1) {
    color: lightgray;
    background: linear-gradient(to bottom right, black, rgb(86, 86, 86));
    .splitSection {
      display: flex;
      align-items: center;
      justify-items: center;
    }
  }

  &:nth-of-type(2) {
    color: lightgray;
    background: linear-gradient(to right, rgb(43, 43, 43), rgb(86, 86, 86));
    /* .splitSection {
      display: flex;
      align-items: center;
      justify-items: center;
    } */

    h1 {
      font-size: clamp(2rem, 5vw, 8rem);
    }
  
    p {
      font-size: clamp(1rem, 2.5vw, 4rem);
    }
  }

  &:nth-of-type(3) {
    color: lightgray;
    background: linear-gradient(to right, rgb(43, 43, 43), rgb(86, 86, 86));

    h1 {
      font-size: clamp(2rem, 5vw, 8rem);
    }
  
    p {
      font-size: clamp(1rem, 2.5vw, 4rem);
    }
  }

  &:nth-of-type(4) {
    color: lightgray;
    background: linear-gradient(to top right, black, rgb(86, 86, 86));

    h1 {
      font-size: clamp(2rem, 5vw, 8rem);
    }
  
    p {
      font-size: clamp(1rem, 2.5vw, 4rem);
    }
  }
}

/* Media Queries for Mobile Responsiveness */
@media screen and (max-width: 768px) {
  .photoMe {
    max-width: 45%;
    height: auto;
    border-radius: 25px;
    border: 20px solid rgb(54, 94, 202, 0.4);
  }
  
  .greetingText {
    font-size: 10px;
  }

  .splitSection {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .photoMe {
    max-width: 45%;
    height: auto;
    border-radius: 25px;
    border: 20px solid rgb(54, 94, 202, 0.4);
  }
  
  .greetingText {
    font-size: 10px;
  }

  .splitSection {
    display: none;
  }

  .photoMe {
    border-radius: 10px;
  }
}